@tailwind base;
@tailwind components;
@tailwind utilities;

*, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#title {
  animation: fadein 3s;
}

#btw-page {
  color: rgb(150, 254, 71);
}

@keyframes fadein {
  from {opacity: 0;},
  to {opacity: 1;}
}

@media (max-width: 1199px){
.balls p {
  font-size: 16px;
}
}
@media (min-width: 1200px) {
.balls:hover > h3 {
  transform: translateY(-80px);
  transition: all 1s ease-in-out;
}

.balls p {
  display: none;
  opacity: 0;
}

.balls:hover p {
  display: block;
  opacity: 1;
  text-align: center;
  transition: opacity 2s, display 2s;
}


}